<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Kilroys Side Page</title>
        <link rel="stylesheet" href="side.css"/>
    </head>
    <body>
        <header>
            <h1>Welcome World!</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/side">Side</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p>
                My regular old fashioned frontend static front page.
                With an image.
            </p>
            <p style="background-color: black;">
                <img src="iau_rocks.png" alt="ia rocks"/>
            </p>
        </main>
        <footer>
            <p>
                &copy; McKilroy
            </p>
        </footer>
    </body>
</html>
